body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.navbar{
    height: 5rem;
    background-color: white ;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
}

footer{
    margin-top: 1rem;
}
.f-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 90%; /* Adjust width as necessary */
    margin: 0 auto; /* Centers the entire f-info container */
    position: relative; 
    max-width: 1200px;
}
.info::before {
    content: "";
    position: absolute;
    top: -10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 1110px; /* Adjust the width of the line */
    height: 0.1px;
    background-color: #222; /* Color of the line */
}
.info {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adds spacing between the items in .info */
}


.info a, .info-contact a{
    color:black;
}

.info-contact {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Adjust the gap for spacing between the elements */
}

.info-contact a, .info-contact p, .info-contact i {
    margin: 0; /* Ensures no additional margins */
}

@media (max-width: 1030px) {
    .f-info {
        flex-direction: column;
        align-items: center; /* Align items to the start of the container */
    }

    .info {
        margin-bottom: 1rem; /* Add spacing between .info and .info-contact */
    }
}

.card{
    border:none !important;
    margin-bottom: 2rem;
    transition: 0.3s;
}


/* .card:hover{
    
} */

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    padding-top: 5px;
}

.card-body{
    padding: 0;
}
.card-body p{
    font-family: 400 !important;
}

.show-img{
    height: 50vh;
}